<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="io.github.magwas.inez.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="io.github.magwas.inez.ui.Perspective"
            fixed="true"
            id="io.github.magwas.inez.ui.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="io.github.magwas.inez.ui.tree.TreeModelView"
            name="TreemodelView"
            id="io.github.magwas.inez.ui.treeModelView"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="io.github.magwas.inez.ui.product"
            name="Inez">
      </product>
   </extension>
   <extension
         id="inez"
         point="org.eclipse.core.runtime.products">
      <product
            application="io.github.magwas.inez.ui.application"
            name="Inez">
         <property
               name="appName"
               value="Inez">
         </property>
      </product>
   </extension>
   <extension
         id="inezproducts"
         name="Inez Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="io.github.magwas.inez.ui.product1"
            name="inezproduct">
         <property
               name="appName"
               value="inezAppName">
         </property>
      </product>
   </extension>
   <extension
         id="inezproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="Inez">
         <property
               name="appName"
               value="Inez">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="io.github.magwas.inez.ui.editor.ModelEditorView"
            default="false"
            id="io.github.magwas.inez.ui.editor"
            name="editor">
      </editor>
   </extension>

</plugin>
